// _animations.scss

@keyframes fade-out {
    from {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }
    to {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
    }
}
@-webkit-keyframes fade-out {
    from {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }
    to {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
    }
}
@-moz-keyframes fade-out {
    from {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }
    to {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
    }
}

@-webkit-keyframes fade-in {
    from {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
    }
    to {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }
}
@-moz-keyframes fade-in {
    from {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
    }
    to {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }
}
@keyframes fade-in {
    from {
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
    }
    to {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }
}
@keyframes loadloop {
    from {
      -webkit-filter: hue-rotate(0deg);
      filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-60deg);
      filter: hue-rotate(-60deg);
    }
}

@keyframes bouncemode {
    from {
      @include absolute-center(-50%,-55%);
    }
    to {
      @include absolute-center(-50%,-45%);
    }
}