// _base.scss

body.overflow-hidden {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p {
  font-size: 1.3em;
  line-height: 1.5em;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border-radius: 0;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.btn-red {
  background: $color-red;
  color: $color-white;
  &:hover {
    background: $color-red-fade-1;
    color: $color-white;
  }
}

.bb-body-wrapper {
  padding-top: 80px;
  @media (min-width: $mq-m) {
    padding-top: 60px;
  }
  &.overflow-hidden {
    position: relative;
    overflow: hidden;
  }
}

.bb-content-wrapper.bb-details-on {
  .bb-grid {
    @include translateX(-50%);
    &.filter-on {
      @include translate(-50%, 42px);
    }
  }
  .bb-details-inner {
    opacity: 1;
    @include translateX(-100%);
  }
  .bb-details {
    visibility: visible;
    opacity: 1;
  }
  .bb-details-cover {
    opacity: 1;
  }
}

.bb-header {
  background: #eee;
  border-bottom: 1px solid #ddd;
  height: 60px;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  @include transition;
  // -webkit-transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  // -moz-transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  // -o-transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  // transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  &.bb-header-menu-on {
    @include translateY(110px);
    .bb-header-menu-wrapper {
      visibility: visible;
    }
    .icon-close .dot {
      border-radius: 0;
      color: $color-white;
      transform: scaleY(6);
    }
  }
}

.bb-header-menu-wrapper {
  background: #eee;
  border-bottom: 1px solid #ddd;
  margin-top: -110px;
  overflow: hidden;
  position: relative;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    border-right: 1px solid #ddd;
    float: left;
    width: 25%;
    &:last-child {
      border-right: 0;
    }
  }
  a {
    display: block;
    line-height: 110px;
    text-align: center;
    width: 100%;
  }
}

.bb-header-wrapper {
  position: relative;
}

.bb-header-element {
  line-height: 60px;
  @media (min-width: $mq-m) {
    line-height: 60px;
  }
}

.bb-header-filter {
  background: url('img/icon-filter.svg') no-repeat;
  background-size: auto 30px;
  cursor: pointer;
  height: 30px;
  margin: 25px 0 15px 34px;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  width: 30px;
  @media (min-width: $mq-m) {
    margin: 15px 0 15px 34px;
  }
  &:hover {
    background: url('img/icon-filter-hover.svg') no-repeat;
    background-size: auto 30px;
  }
}

.page-template-default .bb-header-filter {
  visibility: hidden;
}

.bb-header-logo {
  text-align: center;
  a {
    background: url("http://f.cl.ly/items/3T470S2v1z1Z3a2e1U44/bb-logo-black.svg") no-repeat;
    background-size: contain;
    display: block;
    height: 42px;
    margin: 17px auto 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 80px;
    @media (min-width: $mq-m) {
      margin: 8px auto 0;
    }
  }
}

.bb-header-menu {
  padding-right: 34px;
  text-align: right;

  @media (min-width: $mq-m) {
    padding-right: 34px;
    height: 58px;
  }

  .bb-header-menu-trigger {
    display: inline-block;
    cursor: pointer;
    margin: 25px 0 0;
    width: 35px;
    @media (min-width: $mq-m) {
      margin: 15px 0 0;
    }
  }
  .icon-close {
    display: block;
    float: right;
    height: 30px;
    padding: 12px 0 0;
    width: 24px;
    @include transition;
    &:hover {
      // padding: 0px 0 0;
      .dot {
        border-radius: 0;
        color: $color-white;
        @include scaleY(6);
      }
    }
    .dot {
      width: 4px;
      height: 4px;
      background: #D9D4D4;
      border-radius: 4px;
      float: left;
      margin-right: 6px;
      transform-origin: center center;
      @include transition;
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(1) {
        @include transition-delay(0ms);
      }
      &:nth-child(2) {
        @include transition-delay(300ms);
      }
      &:nth-child(3) {
        @include transition-delay(200ms);
      }
    }
  }
}

.bb-header-filter-wrapper {
  background: #eee;
  border-bottom: 1px solid #ddd;
  -webkit-transform: translateY(-106px);
  -moz-transform: translateY(-106px);
  transform: translateY(-106px);
  position: absolute;
  width: 100%;
  z-index: 10;
  // -webkit-transition: all 350ms cubic-bezier(0.6839, 0.1, 0.32, 1.175) 0s;
  // -moz-transition: all 350ms cubic-bezier(0.6839, 0.1, 0.32, 1.175) 0s;
  // -o-transition: all 350ms cubic-bezier(0.6839, 0.1, 0.32, 1.175) 0s;
  // transition: all 350ms cubic-bezier(0.6839, 0.1, 0.32, 1.175) 0s;
  @include transition;
  &.bb-header-filter-wrapper-on {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    position: fixed;
    @include scale(0.99);
  }
  ul {
    padding: 10px 0 10px 34px;
    li {
      cursor: pointer;
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.bb-grid {
  padding: 20px;
  position: relative;
  z-index: 1;
  // -webkit-transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  // -moz-transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  // -o-transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  // transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  @include transition;
  &.filter-on {
    @include translateY(42px);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.bb-grid-cell {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin: 0 0 20px 0;
}

.bb-grid-element {
  background: #eee;
  box-shadow: inset -1px -1px 0 0 #ddd, inset 1px 1px 0 0 #ddd;
  cursor: pointer;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.bb-grid-img {
  cursor: pointer;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.bb-details {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 1000;
}

.bb-details-cover {
  background: rgba(255, 255, 255, 0.7);
  cursor: n-resize;
  height: 100%;
  width: 100%;
  opacity: 0;
  @include transition;
  // -webkit-transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  // -moz-transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  // -o-transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
  // transition: 300ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 300ms;
}

.bb-details-inner {
  background: #eee;
  border-left: 1px solid #ddd;
  height: 100%;
  left: 100%;
  opacity: 1;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  padding: 80px 0 0 0;
  position: absolute;
  top: 0;
  width: 90%;
  @include translateX(0%);
  @include transition($time:600ms);
  // -webkit-transition: 600ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 100ms;
  // -moz-transition: 600ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 100ms;
  // -o-transition: 600ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 100ms;
  // transition: 600ms all cubic-bezier(0.6839, 0.1, 0.32, 1.175) 100ms;

  @media (min-width: $mq-m) {
    padding: 60px 0 0 0;
    width: 30%;
  }
}

.bb-details-inner-element {
  padding: 20px 5px;
  iframe {
    width: 100% !important;
    @media (min-width: $mq-m) {
      width: auto;
    }
  }

}

.bb-details-header-right {
  float: none;
  margin: 0 auto;
  height: 270px;
  width: 100%;
  @media (min-width: $mq-m) {
    float: right;
    margin: 0 auto;
    width: auto;
  }
  @media (min-width: $mq-s) {
    height: 150px;
    width: 257px;
  }
}

.bb-details-col {
  padding: 10px;
}

.bb-details-col-left {
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 60px;
}

.bb-details-content {
  margin-left: 60px;
  position: relative;
}

.bb-details-art {
  height: auto;
  position: relative;
  width: 100%;
  @media (min-width: $mq-s) {
    height: auto;
    width: 100%;
  }
}

.bb-details-art-inner {
  background: #ddd;
  width: 100%;

  @media (min-width: $mq-s) {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    @media (min-width: $mq-s) {
      width: 100%;
      height: auto;
    }
  }
}

.bb-details-nav {
  border: 1px solid #ddd;
  border-top: 0;
  float: right;
  text-align: center;
  width: 100%;
  @media (min-width: $mq-s) {
    border: 1px solid #ddd;
    border-left: 0;
    float: left;
    left: 165px;
    @include vertical-center;
    width: 50px;
  }
  @media (min-width: $mq-m) {
    width: 50px;
  }
  div {
    cursor: pointer;
    line-height: 60px;
    height: 60px;
    position: relative;
    width: 100%;
    font: normal normal normal 14px/1 FontAwesome;
    a {
      display: block;
      height: 100%;
      width: 100%;
      z-index: 100;
      position: absolute;
    }
  }
  .bb-details-nav-prev {
    border-bottom: 1px solid #ddd;
  }
}

.bb-details-nav-prev:before {
  content: "\f077";
  @include absolute-center;
}

.bb-details-nav-next:before {
  content: "\f078";
  @include absolute-center;
}

.bb-details-attributes {
  @media (min-width: $mq-m) {
    ul {
      text-align: left;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    li {
      border: 1px solid #ddd;
      border-radius: 3px;
      display: inline-block;
      margin-right: 10px;
      padding: 1px 10px;
      text-transform: uppercase;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.bb-details-description {
  border-bottom: 1px solid #ddd;
}

.bb-details-cta-price, .bb-details-cta-edit {
  line-height: 40px;
  text-align: center;
}

.bb-details-cta-price {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: .06em;
  color: $color-white;
  text-align: left;
  @media (min-width: $mq-m) {
    text-align: center;
  }
}

.bb-details-cta-edit {
  @media (min-width: $mq-m) {
    padding-left: 10px;
    text-align: left;
  }
}

.bb-details-cta-button a {
  background: #222;
  color: #fff;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: .06em;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

.bb-details-close {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  z-index: 1000;
  display: none;
  &:hover {
    background: #ccc;
  }
}

#Container .mix {
  display: none;
}

.bb-plug-right {
  padding: 18px 0;
}

.bb-plug-title {
  text-align: center;
  @media (min-width: $mq-m) {
    padding: 24px 0;
    text-align: left;
  }
  a {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
  }
}

.bb-likes {
  text-align: center;
  @media (min-width: $mq-m) {
    padding: 24px 0;
    text-align: right;
  }
  a {
    font-size: 24px;
    margin: 0;
    &:hover, &.active {
      margin: 0;
    }
  }
}

.bb-loading-icon {
  visibility: hidden;
  @include opacity(0);
  @include transition;
  &.loading {
    visibility: visible;
    @include opacity(1);
  }
}

.loading-logo {
  $red1: #E62800;
  $red2: #E63917;
  $tang1: #E64D00;
  $tang2: #E66B2E;
  $orange1: #E67300;
  $orange2: #E69545;
  $yellow1: #E69900;
  $yellow2: #E6B85C;

  background: $red1;
  overflow: hidden;
  width: 50px;
  @include absolute-center;
  animation: bouncemode 400ms 200ms infinite alternate;
  @include transition;
  .box {
    width: 25%;
    padding-bottom: 25%;
    float: left;
    background: #eee;
    &.highlight {
      background: #fff;
    }
    &:nth-child(1), &:nth-child(16){
      background: $red1;
      animation: loadloop 500ms 100ms infinite alternate;
    }
    &:nth-child(2), &:nth-child(15){
      background: $tang1;
      animation: loadloop 500ms 200ms infinite alternate;
    }
    &:nth-child(3), &:nth-child(14){
      background: $orange1;
      animation: loadloop 500ms 300ms infinite alternate;
    }
    &:nth-child(4), &:nth-child(13){
      background: $yellow1;
      animation: loadloop 500ms 400ms infinite alternate;
    }
    &:nth-child(5), &:nth-child(12){
      background: $red2;
      animation: loadloop 500ms 500ms infinite alternate;
    }
    &:nth-child(6), &:nth-child(11){
      background: $tang2;
      animation: loadloop 500ms 600ms infinite alternate;
    }
    &:nth-child(7), &:nth-child(10){
      background: $orange2;
      animation: loadloop 500ms 700ms infinite alternate;
    }
    &:nth-child(8), &:nth-child(9){
      background: $yellow2;
      animation: loadloop 500ms 800ms infinite alternate;
    }
  }
}

.bb-update {
  margin-bottom: 30px;
  padding: 30px 15px;
  position: relative;
}
.bb-update-img {
  margin-bottom: 20px;
  width: 100%;
  @media (min-width: $mq-l) {
    margin-bottom: 0;
  }
  img {
    width: 100%;
  }
}
.bb-update-header {
  h1, h2, h3 {
    margin: 0;
  }
}
.bb-update-copy {
  position: relative;
  z-index: 1000;
}
.bb-update-work {
  margin-bottom: 0;
  @media (min-width: $mq-m) {
    margin-bottom: 20px;
  }
}
.bb-update-work-link {
  display: block;
  height: 100%;
  margin-bottom: 10px;
  width: 100%;
  @media (min-width: $mq-m) {
    margin-bottom: 0;
  }
}
.bb-update-work-img {
  width: 100%;
}
.bb-update-inner {
  @include transition;
}
.bb-update-snippet {
  height: 0;
  visibility: hidden;
}
.bb-update-full {
  height: auto;
  visibility: visible;
}
.bb-update-snippet, .bb-update-full {
  overflow: hidden;
}
.bb-update-toggle {
  position: absolute;
  right: 15px;
  top: 14px;
  z-index: 1000;
}
.bb-update-hide {
  padding: 15px 15px;
  .bb-update-snippet {
    height: auto;
    visibility: visible;
  }
  .bb-update-full {
    height: 0;
    visibility: hidden;
  }
  .bb-update-toggle {
    @include vertical-center;
  }
}

.no-results {
  margin: 40px auto;
  padding: 40px;
  width: 40%;

  p {
    margin: 0;
  }
}
