// _mixins.scss

@mixin transition($time: 600ms, $type:all, $style:cubic-bezier(.14, .62, .39, 1), $delay:0s) {
  -webkit-transition: $type $time $style $delay;
  -moz-transition: $type $time $style $delay;
  -o-transition: $type $time $style $delay;
  transition: $type $time $style $delay;
}

@mixin rotate($r){
  -webkit-transform: rotate($r);
  -moz-transform: rotate($r);
  transform: rotate($r);
}

@mixin translateY($y){
  -webkit-transform: translateY($y);
  -moz-transform: translateY($y);
  transform: translateY($y);
}

@mixin translateX($x){
  -webkit-transform: translateX($x);
  -moz-transform: translateX($x);
  transform: translateX($x);
}

@mixin translate($x,$y){
  -webkit-transform: translate($x,$y);
  -moz-transform: translate($x,$y);
  transform: translate($x,$y);
}

@mixin transition-delay($td){
  -webkit-transition-delay: $td; /* Safari */
  transition-delay: $td;
}

@mixin scale($s:1.5) {
  -webkit-transform: scale($s);
  -moz-transform: scale($s);
  -o-transform: scale($s);
  transform: scale($s);
}

@mixin scaleY($s) {
  -webkit-transform: scaleY($s);
  -moz-transform: scaleY($s);
  -o-transform: scaleY($s);
  transform: scaleY($s);
}

@mixin vertical-center {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
}

@mixin absolute-center($x:-50%,$y:-50%) {
  -webkit-transform: translate($x,$y);
  -moz-transform: translate($x,$y);
  -o-transform: translate($x,$y);
  transform: translate($x,$y);
  top: 50%;
  left: 50%;
  position: absolute;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}