// _variables.scss

// -- IMPORT FONTS
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700);

// -- MEDIA QUERIES
$mq-s: 560px;
$mq-m: 768px;
$mq-l: 992px;


// -- TYPOGRAPHY PRESETS
$font-cond: 'alternate-gothic-no-3-d', sans-serif;
$font-sansserif: 'proxima-nova', Helvetica, sans-serif;

// -- TYPOGRAPHY SETTINGS
$font-menu: $font-cond;

// -- COLORS PRESETS
$color-black: #0F0E0E;
$color-black-light-x: lighten($color-black,5%);
$color-black-light-xx: lighten($color-black,10%);
$color-black-light-xxx: lighten($color-black,15%);
$color-white: #fff;

$color-grey-5: lighten($color-black,10%);
$color-grey-4: lighten($color-black,20%);
$color-grey-3: lighten($color-black,30%);
$color-grey-2: lighten($color-black,40%);
$color-grey-1: lighten($color-black,50%);
$color-grey-0: lighten($color-black,55%);

$color-red: #AD3243;
$color-red-fade-1: lighten(#AD3243,10%);
$color-red-fade-2: lighten(#AD3243,20%);
$color-red-fade-3: lighten(#AD3243,30%);
$color-red-burn-1: darken(#AD3243,10%);
$color-red-burn-2: darken(#AD3243,20%);
$color-red-burn-3: darken(#AD3243,30%);

$color-red-rgba-full: rgba(173, 50, 67, 1);
$color-red-rgba-half-full: rgba(173, 50, 67, 0.7);
$color-red-rgba-half: rgba(173, 50, 67, 0.5);
$color-red-rgba-half-empty: rgba(173, 50, 67, 0.3);
$color-red-rgba-empty: rgba(173, 50, 67, 0);

// -- COLOR SETTINGS
$color-menu-dark: $color-grey-5;