// skins/dark.scss

$darkskin_bgcolor: $color-black-light-x;

.skin-dark {
  background: $darkskin_bgcolor;
  font-family: $font-sansserif;

  h1, h2, h3, h4, h5, h6 {
    color: $color-white;
    font-family: $font-sansserif;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 54px;
  }
  h3 {
    font-size: 36px;
  }

  a {
    color: $color-red;
    font-weight: 700;
    &:hover {
      color: lighten($color-red, 10%);
    }
  }

  p {
    color: $color-grey-4;
  }

  .bb-page-header {
    margin-bottom: 20px;
    .bb-page-header-ele {
      display: inline-block;
      vertical-align: text-bottom;
    }
    .bb-page-header-heading {
      line-height: 0.93em;
      padding-right: 10px;
    }
    .bb-page-header-paragraph {
      color: $color-grey-0;
      font-size: 24px;
      font-weight: 700;
      margin: 0;
    }
  }

  .bb-header-wrapper {
    background: $darkskin_bgcolor;
    border-bottom: 1px solid $color-white;
  }

  .bb-header-logo {
    a {
      background: url("img/bb-logo-white.svg") no-repeat;
      background-size: cover;
    }
  }

  .bb-header-filter-wrapper {
    background: $color-red;
    border-bottom: 0;
    box-shadow: inset 0 2px 1px $color-red-burn-1;

    .filter {
      color: $color-red-fade-2;
      font-family: $font-menu;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: .01em;
      line-height: 37px;
      text-transform: uppercase;
      &:hover {
        color: $color-red-fade-3;
      }
      &.active {
        color: $color-red-fade-3;
        font-weight: 400;
      }
    }
  }

  .bb-header-menu-wrapper {
    background: $color-white;
    border: 0;
    .menu {
      text-align: center;
    }
    li {
      $mh: 110px;
      border: 0;
      position: relative;
      width: 33.33%;
      &:after {
        background: $color-red;
        bottom: 0;
        content: "";
        height: $mh;
        left: 0;
        position: absolute;
        transform-origin: center bottom;
        width: 100%;
        z-index: 1;
        @include scaleY(0);
        @include transition(200ms);
      }
      &:hover {
        &:after {
          @include scaleY(1);
        }

        a {
          color: $color-white;
        }
      }
    }
    a {
      color: $color-menu-dark;
      font-family: $font-menu;
      font-size: 18px;
      font-weight: 300;
      position: relative;
      text-transform: uppercase;
      z-index: 10;
    }
  }

  .bb-grid-cell {
    border-bottom: 1px solid $color-grey-4;
  }

  .bb-grid-img {
    position: relative;
    &:before {
      box-shadow: inset 0 0 0 $color-red;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
      @include transition(200ms);
      @include transition-delay(0);
    }
    &:after {
      box-shadow: inset 0 0 0 $color-red;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
      @include transition(200ms);
      @include transition-delay(200ms);
    }
    &:hover {
      &:before {
        box-shadow: inset 8px 8px 0 $color-red;
      }
      &:after {
        box-shadow: inset -8px -8px 0 $color-red;
      }
      img {
        @include scale(1.1);
      }
    }
    a {
      display: block;
      height: 100%;
      overflow: hidden;
      position: absolute;
      width: 100%;
    }
    img {
      @include scale(1);
      @include transition(200ms);
    }
  }
  .bb-details-cover {
    background: $color-red-rgba-half-full;
  }
  .bb-details-inner {
    background: $color-black-light-x;
    border-color: transparent;
  }
  .bb-details-inner-ajax-container {
    height: 100%;
    position: relative;
    @include opacity(1);
    @include transition;
    &.fade-out {
      animation: fade-out 100ms;
      @include opacity(0);
    }
    &.fade-in {
      animation: fade-in 100ms;
      @include opacity(1);
    }
  }
  .bb-details-close {
    border-color: $color-black-light-xxx;
    color: $color-red;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    &:hover {
      background: $color-red;
      color: $color-white;
    }
  }
  .bb-details-col-left {
    background: rgba(0,0,0,0.2);
  }
  .bb-details-header-heading {
    float: right;
    text-align: right;
    transform-origin: right bottom 0;
    @include rotate(270deg);
    white-space: nowrap;
  }
  .bb-details-art {
    border-color: $color-black-light-xxx;
  }
  .bb-details-nav, .bb-details-nav div, .bb-details-description p, .bb-details-cta-col {
    color: $color-grey-0;
  }
  .entry-title {
    color: $color-grey-1;
    font-family: $font-cond;
    font-weight: 400;
    letter-spacing: .01em;
    text-transform: uppercase;
  }
  .bb-details-inner-element {
    border-color: $color-black-light-xxx;
    h2, h3 {
      color: $color-white;
    }
  }
  .bb-details-attributes ul li {
    border-color: $color-black-light-xxx;
    color: $color-grey-0;
    font-family: $font-cond;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .03em;
    line-height: 1;
    padding: 13px 10px 10px;
    width: 100%;
  }
  .bb-details-ie-pad {
    border: 1px solid $color-black-light-xxx;
    border-radius: 3px;
    display: inline-block;
    font-family: $font-cond;
    font-size: 18px;
    line-height: 1;
    padding: 13px 10px 10px;
    width: 100%;
  }
  .bb-details-nav { 
    border-color: $color-black-light-xxx;
    div {
      border-color: $color-black-light-xxx;
      color: $color-grey-0;
      &:hover {
        background: $color-black-light-xxx;
      }
    }
  }
  .bb-details-cta-button a {
    background: $color-red;
    color: $color-white;
    font-weight: 700;
    &:hover {
      background: $color-red-fade-1;
    }
  }

  .bb-plugs {
    .bb-grid-cell {
      background: $color-black-light-x;
      border-bottom: 0;
      padding: 20px;
      position: relative;
      @include transition;
      &:hover {
        background: $color-black;
        @include scale(1.02);
        .bb-plug-title {
          a {
            color: $color-white;
          }
        }
      }
    }
    .bb-grid-img {
      &:before, &:after {
        display: none;
      }
      &:hover {
        img {
          @include scale(1);
        } 
      }
    }
    .bb-plug-title {
      a {
        color: $color-white;
        font-family: $font-sansserif;
        @media (min-width: $mq-m) {
          color: $color-grey-3;
        }
      }
    }
    .bb-likes {
      a {
        color: $color-red;
        font-family: $font-cond;
      }
    }
  }

  .entry-content {
    h2 {
      color: $color-white;
    }
    p {
      color: $color-grey-0;
    }
    a {
      color: $color-red;
      font-weight: 700;
      &:hover {
        color: $color-white;
      }
    }
  }

  .bb-update {
    background: $color-white;
    a {
      &:hover {
        color: $color-red-fade-1;
      }
    }
  }
  .bb-update-header {
    h1, h2 {
      display: inline-block;
    }
    h1 {
      font-size: 1.4em;
    }
    h2 {
      font-size: 1.0em;
      font-weight: 100;
      letter-spacing: .03em;
      text-transform: uppercase;
    }
    @media (min-width: $mq-m) {
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.2em;
      }
    }
  }
  .bb-update-profile-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.no-results {
  background: $color-white;
  text-align: center;
}