/*
Theme Name: Beatbox WP
Theme URI: http://www.thebeatboxclub.com;
Author: Made by Porter
Author URI: https://www.madebyporter.com
Description: Beatbox Theme
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700);
@keyframes fade-out {
  from {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@keyframes loadloop {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-60deg);
    filter: hue-rotate(-60deg);
  }
}
@keyframes bouncemode {
  from {
    -webkit-transform: translate(-50%, -55%);
    -moz-transform: translate(-50%, -55%);
    -o-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
    top: 50%;
    left: 50%;
    position: absolute;
  }
  to {
    -webkit-transform: translate(-50%, -45%);
    -moz-transform: translate(-50%, -45%);
    -o-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
    top: 50%;
    left: 50%;
    position: absolute;
  }
}
body.overflow-hidden {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

p {
  font-size: 1.3em;
  line-height: 1.5em;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border-radius: 0;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.btn-red {
  background: #AD3243;
  color: #fff;
}
.btn-red:hover {
  background: #ca485a;
  color: #fff;
}

.bb-body-wrapper {
  padding-top: 80px;
}
@media (min-width: 768px) {
  .bb-body-wrapper {
    padding-top: 60px;
  }
}
.bb-body-wrapper.overflow-hidden {
  position: relative;
  overflow: hidden;
}

.bb-content-wrapper.bb-details-on .bb-grid {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.bb-content-wrapper.bb-details-on .bb-grid.filter-on {
  -webkit-transform: translate(-50%, 42px);
  -moz-transform: translate(-50%, 42px);
  transform: translate(-50%, 42px);
}
.bb-content-wrapper.bb-details-on .bb-details-inner {
  opacity: 1;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}
.bb-content-wrapper.bb-details-on .bb-details {
  visibility: visible;
  opacity: 1;
}
.bb-content-wrapper.bb-details-on .bb-details-cover {
  opacity: 1;
}

.bb-header {
  background: #eee;
  border-bottom: 1px solid #ddd;
  height: 60px;
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.bb-header.bb-header-menu-on {
  -webkit-transform: translateY(110px);
  -moz-transform: translateY(110px);
  transform: translateY(110px);
}
.bb-header.bb-header-menu-on .bb-header-menu-wrapper {
  visibility: visible;
}
.bb-header.bb-header-menu-on .icon-close .dot {
  border-radius: 0;
  color: #fff;
  transform: scaleY(6);
}

.bb-header-menu-wrapper {
  background: #eee;
  border-bottom: 1px solid #ddd;
  margin-top: -110px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.bb-header-menu-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bb-header-menu-wrapper li {
  border-right: 1px solid #ddd;
  float: left;
  width: 25%;
}
.bb-header-menu-wrapper li:last-child {
  border-right: 0;
}
.bb-header-menu-wrapper a {
  display: block;
  line-height: 110px;
  text-align: center;
  width: 100%;
}

.bb-header-wrapper {
  position: relative;
}

.bb-header-element {
  line-height: 60px;
}
@media (min-width: 768px) {
  .bb-header-element {
    line-height: 60px;
  }
}

.bb-header-filter {
  background: url("img/icon-filter.svg") no-repeat;
  background-size: auto 30px;
  cursor: pointer;
  height: 30px;
  margin: 25px 0 15px 34px;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px;
  width: 30px;
}
@media (min-width: 768px) {
  .bb-header-filter {
    margin: 15px 0 15px 34px;
  }
}
.bb-header-filter:hover {
  background: url("img/icon-filter-hover.svg") no-repeat;
  background-size: auto 30px;
}

.page-template-default .bb-header-filter {
  visibility: hidden;
}

.bb-header-logo {
  text-align: center;
}
.bb-header-logo a {
  background: url("http://f.cl.ly/items/3T470S2v1z1Z3a2e1U44/bb-logo-black.svg") no-repeat;
  background-size: contain;
  display: block;
  height: 42px;
  margin: 17px auto 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 80px;
}
@media (min-width: 768px) {
  .bb-header-logo a {
    margin: 8px auto 0;
  }
}

.bb-header-menu {
  padding-right: 34px;
  text-align: right;
}
@media (min-width: 768px) {
  .bb-header-menu {
    padding-right: 34px;
    height: 58px;
  }
}
.bb-header-menu .bb-header-menu-trigger {
  display: inline-block;
  cursor: pointer;
  margin: 25px 0 0;
  width: 35px;
}
@media (min-width: 768px) {
  .bb-header-menu .bb-header-menu-trigger {
    margin: 15px 0 0;
  }
}
.bb-header-menu .icon-close {
  display: block;
  float: right;
  height: 30px;
  padding: 12px 0 0;
  width: 24px;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.bb-header-menu .icon-close:hover .dot {
  border-radius: 0;
  color: #fff;
  -webkit-transform: scaleY(6);
  -moz-transform: scaleY(6);
  -o-transform: scaleY(6);
  transform: scaleY(6);
}
.bb-header-menu .icon-close .dot {
  width: 4px;
  height: 4px;
  background: #D9D4D4;
  border-radius: 4px;
  float: left;
  margin-right: 6px;
  transform-origin: center center;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.bb-header-menu .icon-close .dot:last-child {
  margin-right: 0;
}
.bb-header-menu .icon-close .dot:nth-child(1) {
  -webkit-transition-delay: 0ms;
  /* Safari */
  transition-delay: 0ms;
}
.bb-header-menu .icon-close .dot:nth-child(2) {
  -webkit-transition-delay: 300ms;
  /* Safari */
  transition-delay: 300ms;
}
.bb-header-menu .icon-close .dot:nth-child(3) {
  -webkit-transition-delay: 200ms;
  /* Safari */
  transition-delay: 200ms;
}

.bb-header-filter-wrapper {
  background: #eee;
  border-bottom: 1px solid #ddd;
  -webkit-transform: translateY(-106px);
  -moz-transform: translateY(-106px);
  transform: translateY(-106px);
  position: absolute;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.bb-header-filter-wrapper.bb-header-filter-wrapper-on {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  position: fixed;
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -o-transform: scale(0.99);
  transform: scale(0.99);
}
.bb-header-filter-wrapper ul {
  padding: 10px 0 10px 34px;
}
.bb-header-filter-wrapper ul li {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}

.bb-grid {
  padding: 20px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.bb-grid.filter-on {
  -webkit-transform: translateY(42px);
  -moz-transform: translateY(42px);
  transform: translateY(42px);
}
.bb-grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bb-grid-cell {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin: 0 0 20px 0;
}

.bb-grid-element {
  background: #eee;
  box-shadow: inset -1px -1px 0 0 #ddd, inset 1px 1px 0 0 #ddd;
  cursor: pointer;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.bb-grid-img {
  cursor: pointer;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.bb-grid-img img {
  height: 100%;
  width: 100%;
  position: absolute;
}

.bb-details {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 1000;
}

.bb-details-cover {
  background: rgba(255, 255, 255, 0.7);
  cursor: n-resize;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}

.bb-details-inner {
  background: #eee;
  border-left: 1px solid #ddd;
  height: 100%;
  left: 100%;
  opacity: 1;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  padding: 80px 0 0 0;
  position: absolute;
  top: 0;
  width: 90%;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
@media (min-width: 768px) {
  .bb-details-inner {
    padding: 60px 0 0 0;
    width: 30%;
  }
}

.bb-details-inner-element {
  padding: 20px 5px;
}
.bb-details-inner-element iframe {
  width: 100% !important;
}
@media (min-width: 768px) {
  .bb-details-inner-element iframe {
    width: auto;
  }
}

.bb-details-header-right {
  float: none;
  margin: 0 auto;
  height: 270px;
  width: 100%;
}
@media (min-width: 768px) {
  .bb-details-header-right {
    float: right;
    margin: 0 auto;
    width: auto;
  }
}
@media (min-width: 560px) {
  .bb-details-header-right {
    height: 150px;
    width: 257px;
  }
}

.bb-details-col {
  padding: 10px;
}

.bb-details-col-left {
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 60px;
}

.bb-details-content {
  margin-left: 60px;
  position: relative;
}

.bb-details-art {
  height: auto;
  position: relative;
  width: 100%;
}
@media (min-width: 560px) {
  .bb-details-art {
    height: auto;
    width: 100%;
  }
}

.bb-details-art-inner {
  background: #ddd;
  width: 100%;
}
@media (min-width: 560px) {
  .bb-details-art-inner {
    width: 100%;
  }
}
.bb-details-art-inner img {
  width: 100%;
  height: auto;
}
@media (min-width: 560px) {
  .bb-details-art-inner img {
    width: 100%;
    height: auto;
  }
}

.bb-details-nav {
  border: 1px solid #ddd;
  border-top: 0;
  float: right;
  text-align: center;
  width: 100%;
}
@media (min-width: 560px) {
  .bb-details-nav {
    border: 1px solid #ddd;
    border-left: 0;
    float: left;
    left: 165px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: 50px;
  }
}
@media (min-width: 768px) {
  .bb-details-nav {
    width: 50px;
  }
}
.bb-details-nav div {
  cursor: pointer;
  line-height: 60px;
  height: 60px;
  position: relative;
  width: 100%;
  font: normal normal normal 14px/1 FontAwesome;
}
.bb-details-nav div a {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
}
.bb-details-nav .bb-details-nav-prev {
  border-bottom: 1px solid #ddd;
}

.bb-details-nav-prev:before {
  content: "\f077";
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

.bb-details-nav-next:before {
  content: "\f078";
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

@media (min-width: 768px) {
  .bb-details-attributes ul {
    text-align: left;
  }
}
.bb-details-attributes ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;
}
.bb-details-attributes ul li {
  border: 1px solid #ddd;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
  padding: 1px 10px;
  text-transform: uppercase;
}
.bb-details-attributes ul li:last-child {
  margin-right: 0;
}

.bb-details-description {
  border-bottom: 1px solid #ddd;
}

.bb-details-cta-price, .bb-details-cta-edit {
  line-height: 40px;
  text-align: center;
}

.bb-details-cta-price {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: .06em;
  color: #fff;
  text-align: left;
}
@media (min-width: 768px) {
  .bb-details-cta-price {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .bb-details-cta-edit {
    padding-left: 10px;
    text-align: left;
  }
}

.bb-details-cta-button a {
  background: #222;
  color: #fff;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: .06em;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

.bb-details-close {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  z-index: 1000;
  display: none;
}
.bb-details-close:hover {
  background: #ccc;
}

#Container .mix {
  display: none;
}

.bb-plug-right {
  padding: 18px 0;
}

.bb-plug-title {
  text-align: center;
}
@media (min-width: 768px) {
  .bb-plug-title {
    padding: 24px 0;
    text-align: left;
  }
}
.bb-plug-title a {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.bb-likes {
  text-align: center;
}
@media (min-width: 768px) {
  .bb-likes {
    padding: 24px 0;
    text-align: right;
  }
}
.bb-likes a {
  font-size: 24px;
  margin: 0;
}
.bb-likes a:hover, .bb-likes a.active {
  margin: 0;
}

.bb-loading-icon {
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.bb-loading-icon.loading {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}

.loading-logo {
  background: #E62800;
  overflow: hidden;
  width: 50px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  animation: bouncemode 400ms 200ms infinite alternate;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.loading-logo .box {
  width: 25%;
  padding-bottom: 25%;
  float: left;
  background: #eee;
}
.loading-logo .box.highlight {
  background: #fff;
}
.loading-logo .box:nth-child(1), .loading-logo .box:nth-child(16) {
  background: #E62800;
  animation: loadloop 500ms 100ms infinite alternate;
}
.loading-logo .box:nth-child(2), .loading-logo .box:nth-child(15) {
  background: #E64D00;
  animation: loadloop 500ms 200ms infinite alternate;
}
.loading-logo .box:nth-child(3), .loading-logo .box:nth-child(14) {
  background: #E67300;
  animation: loadloop 500ms 300ms infinite alternate;
}
.loading-logo .box:nth-child(4), .loading-logo .box:nth-child(13) {
  background: #E69900;
  animation: loadloop 500ms 400ms infinite alternate;
}
.loading-logo .box:nth-child(5), .loading-logo .box:nth-child(12) {
  background: #E63917;
  animation: loadloop 500ms 500ms infinite alternate;
}
.loading-logo .box:nth-child(6), .loading-logo .box:nth-child(11) {
  background: #E66B2E;
  animation: loadloop 500ms 600ms infinite alternate;
}
.loading-logo .box:nth-child(7), .loading-logo .box:nth-child(10) {
  background: #E69545;
  animation: loadloop 500ms 700ms infinite alternate;
}
.loading-logo .box:nth-child(8), .loading-logo .box:nth-child(9) {
  background: #E6B85C;
  animation: loadloop 500ms 800ms infinite alternate;
}

.bb-update {
  margin-bottom: 30px;
  padding: 30px 15px;
  position: relative;
}

.bb-update-img {
  margin-bottom: 20px;
  width: 100%;
}
@media (min-width: 992px) {
  .bb-update-img {
    margin-bottom: 0;
  }
}
.bb-update-img img {
  width: 100%;
}

.bb-update-header h1, .bb-update-header h2, .bb-update-header h3 {
  margin: 0;
}

.bb-update-copy {
  position: relative;
  z-index: 1000;
}

.bb-update-work {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .bb-update-work {
    margin-bottom: 20px;
  }
}

.bb-update-work-link {
  display: block;
  height: 100%;
  margin-bottom: 10px;
  width: 100%;
}
@media (min-width: 768px) {
  .bb-update-work-link {
    margin-bottom: 0;
  }
}

.bb-update-work-img {
  width: 100%;
}

.bb-update-inner {
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}

.bb-update-snippet {
  height: 0;
  visibility: hidden;
}

.bb-update-full {
  height: auto;
  visibility: visible;
}

.bb-update-snippet, .bb-update-full {
  overflow: hidden;
}

.bb-update-toggle {
  position: absolute;
  right: 15px;
  top: 14px;
  z-index: 1000;
}

.bb-update-hide {
  padding: 15px 15px;
}
.bb-update-hide .bb-update-snippet {
  height: auto;
  visibility: visible;
}
.bb-update-hide .bb-update-full {
  height: 0;
  visibility: hidden;
}
.bb-update-hide .bb-update-toggle {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
}

.no-results {
  margin: 40px auto;
  padding: 40px;
  width: 40%;
}
.no-results p {
  margin: 0;
}

.skin-dark {
  background: #1c1a1a;
  font-family: "proxima-nova", Helvetica, sans-serif;
}
.skin-dark h1, .skin-dark h2, .skin-dark h3, .skin-dark h4, .skin-dark h5, .skin-dark h6 {
  color: #fff;
  font-family: "proxima-nova", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.skin-dark h1 {
  font-size: 72px;
}
.skin-dark h2 {
  font-size: 54px;
}
.skin-dark h3 {
  font-size: 36px;
}
.skin-dark a {
  color: #AD3243;
  font-weight: 700;
}
.skin-dark a:hover {
  color: #ca485a;
}
.skin-dark p {
  color: #443f3f;
}
.skin-dark .bb-page-header {
  margin-bottom: 20px;
}
.skin-dark .bb-page-header .bb-page-header-ele {
  display: inline-block;
  vertical-align: text-bottom;
}
.skin-dark .bb-page-header .bb-page-header-heading {
  line-height: 0.93em;
  padding-right: 10px;
}
.skin-dark .bb-page-header .bb-page-header-paragraph {
  color: #9e9797;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.skin-dark .bb-header-wrapper {
  background: #1c1a1a;
  border-bottom: 1px solid #fff;
}
.skin-dark .bb-header-logo a {
  background: url("img/bb-logo-white.svg") no-repeat;
  background-size: cover;
}
.skin-dark .bb-header-filter-wrapper {
  background: #AD3243;
  border-bottom: 0;
  box-shadow: inset 0 2px 1px #852734;
}
.skin-dark .bb-header-filter-wrapper .filter {
  color: #d66f7e;
  font-family: "alternate-gothic-no-3-d", sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 37px;
  text-transform: uppercase;
}
.skin-dark .bb-header-filter-wrapper .filter:hover {
  color: #e197a1;
}
.skin-dark .bb-header-filter-wrapper .filter.active {
  color: #e197a1;
  font-weight: 400;
}
.skin-dark .bb-header-menu-wrapper {
  background: #fff;
  border: 0;
}
.skin-dark .bb-header-menu-wrapper .menu {
  text-align: center;
}
.skin-dark .bb-header-menu-wrapper li {
  border: 0;
  position: relative;
  width: 33.33%;
}
.skin-dark .bb-header-menu-wrapper li:after {
  background: #AD3243;
  bottom: 0;
  content: "";
  height: 110px;
  left: 0;
  position: absolute;
  transform-origin: center bottom;
  width: 100%;
  z-index: 1;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.skin-dark .bb-header-menu-wrapper li:hover:after {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
.skin-dark .bb-header-menu-wrapper li:hover a {
  color: #fff;
}
.skin-dark .bb-header-menu-wrapper a {
  color: #292727;
  font-family: "alternate-gothic-no-3-d", sans-serif;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
  z-index: 10;
}
.skin-dark .bb-grid-cell {
  border-bottom: 1px solid #443f3f;
}
.skin-dark .bb-grid-img {
  position: relative;
}
.skin-dark .bb-grid-img:before {
  box-shadow: inset 0 0 0 #AD3243;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -webkit-transition-delay: 0;
  /* Safari */
  transition-delay: 0;
}
.skin-dark .bb-grid-img:after {
  box-shadow: inset 0 0 0 #AD3243;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -webkit-transition-delay: 200ms;
  /* Safari */
  transition-delay: 200ms;
}
.skin-dark .bb-grid-img:hover:before {
  box-shadow: inset 8px 8px 0 #AD3243;
}
.skin-dark .bb-grid-img:hover:after {
  box-shadow: inset -8px -8px 0 #AD3243;
}
.skin-dark .bb-grid-img:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.skin-dark .bb-grid-img a {
  display: block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.skin-dark .bb-grid-img img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 200ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.skin-dark .bb-details-cover {
  background: rgba(173, 50, 67, 0.7);
}
.skin-dark .bb-details-inner {
  background: #1c1a1a;
  border-color: transparent;
}
.skin-dark .bb-details-inner-ajax-container {
  height: 100%;
  position: relative;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.skin-dark .bb-details-inner-ajax-container.fade-out {
  animation: fade-out 100ms;
  opacity: 0;
  filter: alpha(opacity=0);
}
.skin-dark .bb-details-inner-ajax-container.fade-in {
  animation: fade-in 100ms;
  opacity: 1;
  filter: alpha(opacity=100);
}
.skin-dark .bb-details-close {
  border-color: #373333;
  color: #AD3243;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
.skin-dark .bb-details-close:hover {
  background: #AD3243;
  color: #fff;
}
.skin-dark .bb-details-col-left {
  background: rgba(0, 0, 0, 0.2);
}
.skin-dark .bb-details-header-heading {
  float: right;
  text-align: right;
  transform-origin: right bottom 0;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  white-space: nowrap;
}
.skin-dark .bb-details-art {
  border-color: #373333;
}
.skin-dark .bb-details-nav, .skin-dark .bb-details-nav div, .skin-dark .bb-details-description p, .skin-dark .bb-details-cta-col {
  color: #9e9797;
}
.skin-dark .entry-title {
  color: #928a8a;
  font-family: "alternate-gothic-no-3-d", sans-serif;
  font-weight: 400;
  letter-spacing: .01em;
  text-transform: uppercase;
}
.skin-dark .bb-details-inner-element {
  border-color: #373333;
}
.skin-dark .bb-details-inner-element h2, .skin-dark .bb-details-inner-element h3 {
  color: #fff;
}
.skin-dark .bb-details-attributes ul li {
  border-color: #373333;
  color: #9e9797;
  font-family: "alternate-gothic-no-3-d", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .03em;
  line-height: 1;
  padding: 13px 10px 10px;
  width: 100%;
}
.skin-dark .bb-details-ie-pad {
  border: 1px solid #373333;
  border-radius: 3px;
  display: inline-block;
  font-family: "alternate-gothic-no-3-d", sans-serif;
  font-size: 18px;
  line-height: 1;
  padding: 13px 10px 10px;
  width: 100%;
}
.skin-dark .bb-details-nav {
  border-color: #373333;
}
.skin-dark .bb-details-nav div {
  border-color: #373333;
  color: #9e9797;
}
.skin-dark .bb-details-nav div:hover {
  background: #373333;
}
.skin-dark .bb-details-cta-button a {
  background: #AD3243;
  color: #fff;
  font-weight: 700;
}
.skin-dark .bb-details-cta-button a:hover {
  background: #ca485a;
}
.skin-dark .bb-plugs .bb-grid-cell {
  background: #1c1a1a;
  border-bottom: 0;
  padding: 20px;
  position: relative;
  -webkit-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 600ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.skin-dark .bb-plugs .bb-grid-cell:hover {
  background: #0F0E0E;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
.skin-dark .bb-plugs .bb-grid-cell:hover .bb-plug-title a {
  color: #fff;
}
.skin-dark .bb-plugs .bb-grid-img:before, .skin-dark .bb-plugs .bb-grid-img:after {
  display: none;
}
.skin-dark .bb-plugs .bb-grid-img:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.skin-dark .bb-plugs .bb-plug-title a {
  color: #fff;
  font-family: "proxima-nova", Helvetica, sans-serif;
}
@media (min-width: 768px) {
  .skin-dark .bb-plugs .bb-plug-title a {
    color: #5e5858;
  }
}
.skin-dark .bb-plugs .bb-likes a {
  color: #AD3243;
  font-family: "alternate-gothic-no-3-d", sans-serif;
}
.skin-dark .entry-content h2 {
  color: #fff;
}
.skin-dark .entry-content p {
  color: #9e9797;
}
.skin-dark .entry-content a {
  color: #AD3243;
  font-weight: 700;
}
.skin-dark .entry-content a:hover {
  color: #fff;
}
.skin-dark .bb-update {
  background: #fff;
}
.skin-dark .bb-update a:hover {
  color: #ca485a;
}
.skin-dark .bb-update-header h1, .skin-dark .bb-update-header h2 {
  display: inline-block;
}
.skin-dark .bb-update-header h1 {
  font-size: 1.4em;
}
.skin-dark .bb-update-header h2 {
  font-size: 1.0em;
  font-weight: 100;
  letter-spacing: .03em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .skin-dark .bb-update-header h1 {
    font-size: 2em;
  }
  .skin-dark .bb-update-header h2 {
    font-size: 1.2em;
  }
}
.skin-dark .bb-update-profile-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-results {
  background: #fff;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
